.nav-pills .nav-link.active {
  background-color: #fff;
  color: rgb(192, 36, 36) !important;
}

.person h1 {
  font-size: 18px;
  margin: 15px 0;
}

.person h2 {
  font-size: 18px;
  margin: 15px 0;
}

.person p {
  font-size: 14px;
}

.perser-icon {
  font-size: 60px;
}

.person a {
  font-size: 14px;
  color: red;
}

.list-group-item.active {
  background-color: transparent !important;
  border-left: 2px solid #666 !important;
  color: #000 !important;
}
